/* ---------------------------------------------------------------- */
/* Reset CSS
/* ---------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ---------------------------------------------------------------- */
/* Fonts
/* ---------------------------------------------------------------- */
@font-face {
  font-family: 'icons';
  src: url("fonts/icons.eot");
  src: url("fonts/icons.eot@#iefix") format('embedded-opentype'), url("fonts/icons.woff") format('woff'), url("fonts/icons.ttf") format('truetype'), url("fonts/icons.svg#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ---------------------------------------------------------------- */
/* Header
/* ---------------------------------------------------------------- */
#mpcth_header {
  position: relative;
  width: 100%;
  height: 90px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.25);
  z-index: 2;
}
#mpcth_logo {
  float: left;
  font-family: 'Lobster', cursive;
  line-height: 90px;
  margin-left: 30px;
  padding: 0;
  font-weight: lighter;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#mpcth_logo a {
  color: #333333;
}
@media (max-width: 480px) {
  #mpcth_logo {
    margin-left: 5px;
  }
}
#mpcth_menu {
  float: right;
  font-weight: bold;
  line-height: 36px;
  margin: 27px 20px 0px 0px;
}
#mpcth_menu > ul > li {
  border: none;
  margin: 0;
  float: left;
  padding-bottom: 7px;
}
#mpcth_menu > ul > li > a {
  padding: 0px 15px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#mpcth_menu > ul > li > a:hover {
  background: #031627;
  color: #ffffff;
}
#mpcth_menu > ul > li > a.active {
  background: #031627;
  color: #ffffff;
}
#mpcth_menu ul {
  z-index: 1000;
}
#mpcth_menu li {
  position: relative;
  margin: 0px 15px;
}
#mpcth_menu li li {
  margin: 0px;
  padding: 0px 15px;
  line-height: 36px;
  font-weight: normal;
  font-size: 12px;
}
#mpcth_menu li li:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 8%;
  width: 84%;
  height: 1px;
  background: #f5f5f5;
}
#mpcth_menu li li:first-child {
  padding-top: 5px;
}
#mpcth_menu li li:first-child:before {
  display: none;
}
#mpcth_menu li li:last-child {
  border-bottom: none;
  padding-bottom: 5px;
}
#mpcth_menu li > ul {
  display: none;
  position: absolute;
  top: 42px;
  width: 150px;
  border: 1px solid #e0e0e0;
  background: #ffffff;
}
#mpcth_menu li li ul {
  position: absolute;
  top: 0;
  left: 150px;
}
#mpcth_menu a {
  display: block;
}
@media (max-width: 767px) {
  #mpcth_menu {
    display: none;
  }
}
.msie #mpcth_mobile_menu option {
  background: #031627;
  color: #ffffff;
}
#mpcth_mobile_menu {
  display: none;
  float: right;
  margin-top: 27px;
  margin-right: 20px;
  vertical-align: middle;
  padding: 7px;
  font-size: 18px;
  color: #ffffff;
  border: none;
  outline: none;
  background: #031627;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
#mpcth_mobile_menu option {
  background: #515151;
  color: #ffffff;
}
@media (max-width: 767px) {
  #mpcth_mobile_menu {
    display: block;
  }
}
@media (max-width: 480px) {
  #mpcth_mobile_menu {
    margin-right: 10px;
  }
}
#mpcth_search_form {
  position: relative;
  float: right;
  margin: 27px 10px 0px 0px;
  padding-left: 36px;
  height: 36px;
  line-height: 36px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#mpcth_search_form:before {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  content: '🔍';
  font-family: 'font_icons';
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  color: #515151;
  width: 26px;
  padding: 5px;
}
#mpcth_search_form:hover {
  background: #031627;
}
#mpcth_search_form:hover:before {
  color: #ffffff;
}
#mpcth_search_form:hover input[type=text] {
  width: 150px;
  padding: 0px 4px;
  background: #ffffff;
  border: 1px solid #031627;
}
#mpcth_search_form input[type=text] {
  display: block;
  width: 0px;
  line-height: 26px;
  height: 34px;
  padding: 0px;
  margin: 0px;
  border: none;
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#mpcth_search_form input[type=text]:focus {
  width: 150px;
  padding: 0px 4px;
  background: #ffffff;
  border: 1px solid #031627;
}
@media (min-width: 768px) and (max-width: 979px) {
  #mpcth_search_form input[type=text] {
    position: absolute;
    bottom: -36px;
    right: 0px;
  }
}
@media (max-width: 767px) {
  #mpcth_search_form {
    display: none;
  }
}
/* ---------------------------------------------------------------- */
/* Content
/* ---------------------------------------------------------------- */
#mpcth_main_container {
  position: absolute;
  top: 90px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #ffffff;
  z-index: 1;
}
#mpcth_main_container .mpcth-scale-image {
  width: 100%;
}
#mpcth_content {
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  -ms-overflow-y: auto;
  overflow-y: auto;
  position: absolute;
  top: 0px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 17px -5px rgba(0, 0, 0, 0.5);
}
#mpcth_content.mpcth-aside {
  float: right;
  width: 67%;
  max-width: 820px;
  max-height: 80%;
  position: relative;
}
#mpcth_content.mpcth-aside #mpcth_article {
  padding: 30px 60px;
}
@media (max-width: 979px) {
  #mpcth_content.mpcth-aside #mpcth_article {
    padding: 30px 5%;
  }
}
@media (max-width: 767px) {
  #mpcth_content.mpcth-aside {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
}
#mpcth_content.mpcth-fullscreen {
  width: 100%;
  max-width: 100%;
  bottom: 0px;
  padding-bottom: 0px;
}
#mpcth_content.mpcth-fullscreen .mpcth-fullscreen-frame {
  display: block;
  width: 100%;
  height: 100%;
}
#mpcth_content.mpcth-fullscreen .mpcth-fullscreen-image {
  display: block;
  width: 100%;
}
#mpcth_content #mpcth_article {
  box-sizing: border-box;
  padding: 30px 5% 45px 5%;
  background: #ffffff;
}
#mpcth_content #mpcth_article.mpcth-with-meta {
  float: left;
  width: 75%;
}
@media (max-width: 979px) {
  #mpcth_content #mpcth_article.mpcth-with-meta {
    float: none;
    width: auto;
  }
}
#mpcth_content #mpcth_article_meta {
  box-sizing: border-box;
  float: left;
  margin-top: 110px;
  margin-bottom: 60px;
  padding: 15px 20px;
  background: #f5f5f5;
  width: 20%;
  font-size: 13px;
}
@media (max-width: 979px) {
  #mpcth_content #mpcth_article_meta {
    float: none;
    width: auto;
    margin: 0px 5% 60px 5%;
  }
}
#mpcth_content #mpcth_article_meta li {
  padding: 5px 0px;
}
#mpcth_content #mpcth_article_meta .float-left {
  float: left;
}
#mpcth_content #mpcth_article_meta #mpcth_meta_nav {
  clear: both;
  padding-top: 15px;
}
#mpcth_content #mpcth_article_meta #mpcth_meta_nav .icon:before {
  margin-left: 0.5em;
}
#mpcth_content #mpcth_article_meta #mpcth_meta_nav .prev-link {
  margin-left: -0.5em;
}
#mpcth_content #mpcth_article_meta #mpcth_meta_nav .next-link {
  float: right;
  margin-right: -0.5em;
}
#mpcth_content #mpcth_article_meta #mpcth_meta_share {
  position: relative;
  float: left;
  top: -5px;
  left: 5px;
}
#mpcth_content #mpcth_article_meta #mpcth_meta_share > * {
  display: block !important;
  margin: 5px 0px !important;
}
/* ---------------------------------------------------------------- */
/* Footer
/* ---------------------------------------------------------------- */
#mpcth_footer_toggler {
  display: block;
  position: fixed;
  width: 45px;
  height: 45px;
  left: 0px;
  bottom: 0px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  opacity: 0.7;
  background: #fff;
  z-index: 6;
}
#mpcth_footer_toggler:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}
#mpcth_footer_toggler .mpcth-icon {
  font-family: 'icons';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 45px;
  height: 45px;
  font-size: 20px;
  line-height: 45px;
  text-align: center;
}
#mpcth_footer_toggler .mpcth-icon.minus {
  display: none;
}
#mpcth_footer_toggler .mpcth-icon.minus:before {
  content: '\e801';
  line-height: 50px;
}
#mpcth_footer_toggler .mpcth-icon.plus:before {
  content: '\e800';
}
@media (max-width: 767px) {
  #mpcth_footer_toggler {
    bottom: 45px;
  }
}
#mpcth_footer {
  position: fixed;
  bottom: 0;
  left: -100%;
  width: 100%;
  min-height: 45px;
  background: #ffffff;
  z-index: 3;
}
#mpcth_footer #mpcth_copyright {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 50px;
  line-height: 45px;
  text-align: left;
}
#mpcth_footer #mpcth_socials {
  position: absolute;
  bottom: 0px;
  right: 10px;
  min-height: 45px;
  z-index: 4;
}
#mpcth_footer #mpcth_socials li {
  display: inline-block;
}
#mpcth_footer #mpcth_socials .social {
  position: relative;
  display: inline-block;
  margin: 0px 1px;
  line-height: 45px;
  height: 45px;
  width: 26px;
  font-size: 26px;
  font-family: 'icons';
}
#mpcth_footer #mpcth_socials .social:before {
  color: #6D6E71;
}
#mpcth_footer #mpcth_socials .social.mpcth-icon-facebook-circled:hover:before {
  color: #0b5998;
}
#mpcth_footer #mpcth_socials .social.mpcth-icon-twitter-circled:hover:before {
  color: #00ccfc;
}
#mpcth_footer #mpcth_socials .social.mpcth-icon-gplus-circled:hover:before {
  color: #da573b;
}
#mpcth_footer #mpcth_socials .social.mpcth-icon-pinterest-circled:hover:before {
  color: #910101;
}
#mpcth_footer #mpcth_socials .social.mpcth-icon-tumblr-circled:hover:before {
  color: #34526f;
}
#mpcth_footer #mpcth_socials .social.mpcth-icon-linkedin-circled:hover:before {
  color: #3399cc;
}
#mpcth_footer #mpcth_socials .social.mpcth-icon-dribbble-circled:hover:before {
  color: #c5376d;
}
#mpcth_footer #mpcth_socials .social.mpcth-icon-stumbleupon-circled:hover:before {
  color: #ea4a24;
}
#mpcth_footer #mpcth_socials .social.mpcth-icon-vimeo-circled:hover:before {
  color: #9bc541;
}
#mpcth_footer #mpcth_socials .social.mpcth-icon-flickr-circled:hover:before {
  color: #ff0084;
}
#mpcth_footer #mpcth_socials .social.mpcth-icon-rss:hover:before {
  color: #ee802f;
}
#mpcth_footer #mpcth_socials .social.mpcth-icon-mail:hover:before {
  color: #21759b;
}
#mpcth_footer #mpcth_socials .social:hover:before {
  color: #031627;
}
@media (min-width: 1200px) {
  #mpcth_footer #mpcth_copyright {
    left: 0px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  #mpcth_footer #mpcth_copyright {
    left: 0px;
    text-align: center;
    position: relative;
    line-height: 30px;
  }
  #mpcth_footer #mpcth_socials {
    position: relative;
    text-align: center;
    right: 0px;
    width: 100%;
  }
}
/* ---------------------------------------------------------------- */
/* Grid
/* ---------------------------------------------------------------- */
#mpcth_grid_filter {
  position: relative;
  background: #f5f5f5;
  padding-left: 30px;
  height: 36px;
  line-height: 36px;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.25);
}
#mpcth_grid_filter li {
  float: left;
}
#mpcth_grid_filter li a {
  display: block;
  padding: 0px 15px;
  font-weight: bold;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#mpcth_grid_filter li a:hover {
  background: #031627;
  color: #ffffff;
}
#mpcth_grid_filter li a.active {
  background: #031627;
  color: #ffffff;
}
#mpcth_grid_filter + #mpcth_content {
  top: 36px;
}
#mpcth_grid_load_more {
  position: absolute;
  bottom: 45px;
  right: -100%;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding: 0px 20px;
  background: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  z-index: 100;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
#mpcth_grid_load_more:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  color: #313131;
}
#mpcth_grid {
  position: relative;
  z-index: 1;
}
#mpcth_grid.mpcth-blog {
  padding-bottom: 55px;
  margin-left: 20px;
}
#mpcth_grid.mpcth-blog .mpcth-grid-item {
  background: #ffffff;
  margin: 20px 20px 0px 0px;
  -webkit-box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 2px 7px -2px rgba(0, 0, 0, 0.5);
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-thumb {
  padding: 20px;
  padding-bottom: 0px;
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-thumb .mpcth-scale-image {
  width: 100%;
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-thumb .mpcth-grid-item-meta {
  margin-top: 3px;
  font-size: 11px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-thumb .mpcth-grid-item-meta li {
  float: left;
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-thumb .mpcth-grid-item-meta li:before {
  content: '\e78b';
  display: inline-block;
  font-family: 'font_icons';
  text-align: center;
  width: 15px;
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-thumb .mpcth-grid-item-meta li:first-child {
  margin-left: 0px;
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-thumb .mpcth-grid-item-meta li:first-child:before {
  content: '';
  width: 0px;
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-content {
  padding: 20px;
  padding-top: 15px;
  padding-bottom: 20px;
  clear: both;
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-content .mpcth-grid-item-link {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: block;
  width: 46px;
  height: 46px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-content .mpcth-grid-item-link:before {
  content: '';
  position: absolute;
  border: 23px solid #031627;
  border-top: 23px solid transparent;
  border-left: 23px solid transparent;
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-content .mpcth-grid-item-link:hover .icon-holder .icon-base {
  bottom: 20px;
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-content .mpcth-grid-item-link:hover .icon-holder .icon-hover {
  bottom: 0px;
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-content .mpcth-grid-item-link .mpcth-grid-item-icon {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: block;
  width: 20px;
  height: 20px;
  font-family: 'icons';
  font-size: 20px;
  -webkit-transition: bottom 0.2s;
  -moz-transition: bottom 0.2s;
  -ms-transition: bottom 0.2s;
  -o-transition: bottom 0.2s;
  transition: bottom 0.2s;
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-content .mpcth-grid-item-link .icon-holder {
  overflow: hidden;
  bottom: 4px;
  right: 1px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-content .mpcth-grid-item-link .icon-holder .icon-base {
  color: #ffffff;
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-content .mpcth-grid-item-link .icon-holder .icon-base:before {
  content: '\e800';
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-content .mpcth-grid-item-link .icon-holder .icon-hover {
  bottom: -20px;
  color: #313131;
}
#mpcth_grid.mpcth-blog .mpcth-grid-item .mpcth-grid-item-content .mpcth-grid-item-link .icon-holder .icon-hover:before {
  content: '\e800';
}
#mpcth_grid.mpcth-portfolio-3d .mpcth-grid-item {
  -webkit-perspective: 1000;
  -moz-perspective: 1000px;
  perspective: 1000;
}
#mpcth_grid.mpcth-portfolio-3d .mpcth-grid-item .mpcth-grid-item-3d-enabled {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -ms-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#mpcth_grid.mpcth-portfolio-3d .mpcth-grid-item .mpcth-grid-item-front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
#mpcth_grid.mpcth-portfolio-3d .mpcth-grid-item .mpcth-grid-item-front.hover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#mpcth_grid.mpcth-portfolio-3d .mpcth-grid-item .mpcth-grid-item-back {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  display: block;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#mpcth_grid.mpcth-portfolio-3d .mpcth-grid-item .mpcth-grid-item-back.hover {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}
#mpcth_grid.mpcth-portfolio-3d .mpcth-grid-item:hover {
  z-index: 3;
}
#mpcth_grid .mpcth-grid-item {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  position: relative;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-front .mpcth-scale-image {
  display: block;
  width: 100%;
  height: 100%;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back header {
  margin: 10px 20px 0px 20px;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back header h3 {
  padding-bottom: 10px;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back header h3 a {
  color: #ffffff;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back header h3 a:hover {
  color: #f5f5f5;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back p {
  overflow: hidden;
  margin: 0px 20px;
  padding-top: 0px;
  font-size: 12px;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back .mpcth-like {
  position: absolute;
  bottom: 20px;
  left: 30px;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back .mpcth-like .icon:before {
  top: 0px;
  left: -10px;
  font-size: 24px;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back .mpcth-like:hover {
  color: #f5f5f5;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back .mpcth-grid-item-link {
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  bottom: 15px;
  right: 20px;
  z-index: 1;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back .mpcth-grid-item-link:before {
  content: '🔗';
  font-family: 'font_icons';
  font-size: 26px;
  color: #ffffff;
  text-align: center;
  display: block;
  width: 26px;
  height: 26px;
  line-height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back .mpcth-grid-item-link:hover:before {
  color: #eeeeee;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back .mpcth-grid-item-lightbox {
  display: block;
  width: 26px;
  height: 26px;
  position: absolute;
  bottom: 15px;
  right: 55px;
  z-index: 1;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back .mpcth-grid-item-lightbox:before {
  content: '\e70a';
  font-family: 'font_icons';
  font-size: 26px;
  color: #ffffff;
  text-align: center;
  display: block;
  width: 26px;
  height: 26px;
  line-height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back .mpcth-grid-item-lightbox:hover:before {
  color: #eeeeee;
}
#mpcth_grid .mpcth-grid-item .mpcth-grid-item-back .mpcth-grid-item-vignette {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
  filter: alpha(opacity=15);
  opacity: 0.15;
  z-index: 2;
  pointer-events: none;
}
/* ---------------------------------------------------------------- */
/* Shortcodes
/* ---------------------------------------------------------------- */
.mpcth-like {
  position: relative;
  padding-left: 16px;
}
.mpcth-like .icon:before {
  content: '\2665';
  position: absolute;
  top: -3px;
  left: 0px;
  font-family: 'font_icons';
  font-size: 14px;
}
.mpcth-button {
  display: inline-block;
  font-weight: bold;
  padding: 5px 10px;
  margin: 0px 10px 10px 0px;
  color: #ffffff;
}
.mpcth-button:hover {
  color: #313131;
}
.mpcth-button.style01 {
  background: #031627;
}
.mpcth-button.style02 {
  background: #313131;
}
.mpcth-button.style02:hover {
  color: #031627;
}
.mpcth-button.style03 {
  background: #f5f5f5;
  color: #515151;
}
.mpcth-button.style04 {
  background: #4fd0d2;
}
.mpcth-button.style05 {
  background: #4fd2a8;
}
.mpcth-button.style06 {
  background: #d2524f;
}
.mpcth-button.style07 {
  background: #cc9f67;
}
#mpcth_cf {
  position: relative;
}
#mpcth_cf input,
#mpcth_cf textarea {
  background: #f8f8f8;
  border: none;
  outline: none;
  padding: 8px;
  -webkit-transition: background 0.25s, color 0.25s;
  -moz-transition: background 0.25s, color 0.25s;
  -ms-transition: background 0.25s, color 0.25s;
  -o-transition: background 0.25s, color 0.25s;
  transition: background 0.25s, color 0.25s;
}
#mpcth_cf input:hover,
#mpcth_cf textarea:hover {
  outline: 1px solid #f3f3f3;
}
#mpcth_cf input:focus,
#mpcth_cf textarea:focus {
  background: #f3f3f3;
}
#mpcth_cf input.error,
#mpcth_cf textarea.error {
  background: #031627;
  color: #ffffff;
}
#mpcth_cf .mpcth-cf-top .mpcth-cf-input-wrap {
  display: inline-block;
}
@media (max-width: 480px) {
  #mpcth_cf .mpcth-cf-top .mpcth-cf-input-wrap {
    display: block;
  }
}
#mpcth_cf .mpcth-cf-bottom .mpcth-cf-input-wrap {
  min-height: 10px;
}
#mpcth_cf .mpcth-cf-input-wrap {
  position: relative;
}
#mpcth_cf .mpcth-cf-input-wrap input[type=text] {
  box-sizing: border-box;
  width: 190px;
  margin-right: 20px;
}
@media (min-width: 768px) and (max-width: 979px) {
  #mpcth_cf .mpcth-cf-input-wrap input[type=text] {
    width: 80%;
  }
}
@media (max-width: 767px) {
  #mpcth_cf .mpcth-cf-input-wrap input[type=text] {
    width: 80%;
  }
}
@media (max-width: 480px) {
  #mpcth_cf .mpcth-cf-input-wrap input[type=text] {
    width: 100%;
  }
}
#mpcth_cf .mpcth-cf-input-wrap textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#mpcth_cf .mpcth-cf-input-wrap label {
  position: absolute;
  bottom: -7px;
  left: 0px;
  font-style: italic;
  font-size: 12px;
  color: #031627;
}
#mpcth_cf #mpcth_cf_submit {
  position: absolute;
  top: 0px;
  right: 0px;
  background: #031627;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
}
#mpcth_cf #mpcth_cf_submit:hover {
  color: #515151;
}
#mpcth_cf #mpcth_cf_info {
  display: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-weight: bold;
  padding: 2px 6px;
  background: #f5f5f5;
  color: #031627;
}
#mpcth_cf #mpcth_cf_info.correct {
  color: #515151;
}
#mpcth_cf #mpcth_cf_curtain {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: url('images/preloader.gif') no-repeat center;
}
.mpcth-tabs .mpcth-tab {
  position: relative;
  z-index: 2;
  float: left;
}
.mpcth-tabs .mpcth-tab a {
  display: block;
  padding: 8px 20px;
  font-weight: bold;
  font-size: 12px;
  color: #838383;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: -1px;
  outline: none;
}
.mpcth-tabs .mpcth-tab a.active {
  color: #031627;
  border: 1px solid #d9d9d9;
  border-bottom: 1px solid #ffffff;
}
.mpcth-tabs .mpcth-tab-content {
  position: relative;
  z-index: 1;
  clear: both;
  border: 1px solid #d9d9d9;
  padding: 10px 20px;
}
.mpcth-tabs .mpcth-tab-content p {
  padding: 0.5em 0;
}
.mpcth-toggle {
  margin-bottom: 15px;
}
.mpcth-toggle .mpcth-toggle-title {
  display: block;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 20px;
  border: 1px solid #f3f3f3;
}
.mpcth-toggle .mpcth-toggle-content {
  margin: 0% 1%;
  background: #f5f5f5;
  padding: 10px 15px;
}
.mpcth-toggle .mpcth-toggle-content p {
  padding: 0.5em 0;
}
.mpcth-list {
  margin-left: 5px;
}
.mpcth-list li {
  padding: 5px 0px;
  margin-left: 20px;
}
.mpcth-list li:before {
  margin-left: -20px;
}
/* ---------------------------------------------------------------- */
/* Columns
/* ---------------------------------------------------------------- */
.column {
  float: left;
  padding-bottom: 1.5em;
}
.column.one_half {
  width: 46%;
  margin-right: 8%;
}
.column.one_third {
  width: 28%;
  margin-right: 8%;
}
.column.two_third {
  width: 64%;
  margin-right: 8%;
}
.column.one_forth {
  width: 19%;
  margin-right: 8%;
}
.column.two_forth {
  width: 46%;
  margin-right: 8%;
}
.column.three_forth {
  width: 73%;
  margin-right: 8%;
}
.column.one_fifth {
  width: 13.5%;
  margin-right: 8%;
}
.column.two_fifth {
  width: 35%;
  margin-right: 8%;
}
.column.three_fifth {
  width: 56.5%;
  margin-right: 8%;
}
.column.four_fifth {
  width: 78%;
  margin-right: 8%;
}
.column.one_sixth {
  width: 10%;
  margin-right: 8%;
}
.column.two_sixth {
  width: 28%;
  margin-right: 8%;
}
.column.three_sixth {
  width: 46%;
  margin-right: 8%;
}
.column.four_sixth {
  width: 64%;
  margin-right: 8%;
}
.column.five_sixth {
  width: 82%;
  margin-right: 8%;
}
.column.last {
  margin-right: 0%;
}
.column.first {
  clear: both;
}
@media (max-width: 767px) {
  .column.one_half,
  .column.one_third,
  .column.two_third,
  .column.one_forth,
  .column.two_forth,
  .column.three_forth,
  .column.one_fifth,
  .column.two_fifth,
  .column.three_fifth,
  .column.four_fifth,
  .column.one_sixth,
  .column.two_sixth,
  .column.three_sixth,
  .column.four_sixth,
  .column.five_sixth,
  .column.last,
  .column.first {
    width: 100%;
    margin-right: 0%;
  }
}
/* ---------------------------------------------------------------- */
/* Typography
/* ---------------------------------------------------------------- */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 14px;
}
input,
textarea {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #616161;
  border-radius: 0px !important;
}
a {
  color: #515151;
  text-decoration: none;
}
a:hover {
  color: #031627;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2em;
  padding-bottom: 1em;
  padding-top: 10px;
  color: #313131;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
/* ---------------------------------------------------------------- */
/* Other
/* ---------------------------------------------------------------- */
html,
body {
  width: 100%;
  height: 100%;
  line-height: 1.5em;
  color: #515151;
}
*::-moz-selection,
*::selection {
  color: #ffffff;
  background: #031627;
}
@media (max-width: 979px) {
  iframe[src^="https://maps.google.com/"] {
    height: 20%;
  }
}
hr {
  display: block;
  height: 1px;
  background: #e9e9e9;
  margin-bottom: 20px;
  border: none;
}
p {
  padding: 10px 0px;
}
em {
  font-weight: bold;
}
blockquote {
  position: relative;
  font-style: italic;
  padding: 10px 0px 1.5em 50px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
blockquote:before {
  font-family: 'icons';
  font-style: normal;
  content: '\275e';
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 20px;
  line-height: 20px;
}
pre {
  font-family: Courier, monospace;
  font-size: 12px;
  border: 1px solid #eaeaea;
  padding: 10px;
  display: block;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 1.5em;
}
.mpcth-clearboth {
  clear: both;
}
/* ---------------------------------------------------------------- */
/* Isotope
/* ---------------------------------------------------------------- */
/**** Isotope Filtering ****/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.isotope {
  -webkit-transition-property: height;
  -moz-transition-property: height;
  -ms-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
}
.isotope .isotope-item {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity, left, top;
  -moz-transition-property: -moz-transform, opacity, left, top;
  -ms-transition-property: -ms-transform, opacity, left, top;
  -o-transition-property: -o-transform, opacity, left, top;
  transition-property: transform, opacity, left, top;
}
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}
